/* 
font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif;

### Primary

- Very dark blue (main background): hsl(233, 47%, 7%)
- Dark desaturated blue (card background): hsl(244, 38%, 16%)
- Soft violet (accent): hsl(277, 64%, 61%)

### Neutral

- White (main heading, stats): hsl(0, 0%, 100%)
- Slightly transparent white (main paragraph): hsla(0, 0%, 100%, 0.75)
- Slightly transparent white (stat headings): hsla(0, 0%, 100%, 0.6)


*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

/* Variables for colors */

:root {
  --dkpurple: hsl(233, 47%, 7%);
  --purple: hsl(244, 38%, 16%);
  --violet: hsl(277, 64%, 61%);
  --sfwhite: hsla(0, 0%, 100%, 0.75);
  --stwhite: hsla(0, 0%, 100%, 0.6);
}

* {
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dkpurple);
}

main {
  width: 87.2%;
}

.stat-card {
  width: 100%;
  min-height: 48.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--purple);
}

.img {
  width: 100%;
  min-height: 15em;
  background-image: url("images/image-header-mobile.jpg");
  background-size: cover;
}
.overlay {
  width: 100%;
  height: 15em;
  position: relative;
  z-index: 2;
  opacity: 0.6;
  background-color: var(--violet);
}

h1 {
  margin: 1.42em 1.14em 0.57em 1.14em;
  text-align: center;
  font-size: 1.75rem;
  font-family: "Inter", sans-serif;
  color: white;
  line-height: 1.5;
}

.insights {
  color: var(--violet);
}

.txt-description {
  margin: 0 2.13em;
  text-align: center;
  font-size: 0.9375rem;
  font-family: "Inter", sans-serif;
  color: var(--sfwhite);
  line-height: 1.6;
}

.stats {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.stat {
    display: flex;
    flex-direction: column;
}

.stat-num {
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  color: white;
}

.stat-title {
  font-size: 0.75rem;
  font-family: "Lexend Deca", sans-serif;
  color: var(--stwhite);
  text-transform: uppercase;
}
